@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Raleway&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Raleway, Verdana, Geneva, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f7f7;
  color: #141414;
  font-size: 16px;
  padding: 10px 20px;
}
header {
  margin-bottom: 5rem;
}
/* 
h1,
h2 {
  font-weight: 570;
  line-height: 1.2;
}
h1 {
  font-size: calc(1.5rem + 1vw);
}
h2 {
  font-size: calc(1.2rem + 1vw);
}
.page-stagiaire h1 {
  font-size: calc(1.2rem + 1vw);
}
p,
span,
label,
input,
select,
table,
button {
  font-size: calc(0.7rem + 1vw);
} */

/* ==================================================== */
/* ===================== Nav Bar ====================== */
/* ==================================================== */
.navbar {
  background-color: #007daf !important;
}
.navbar .container-fluid {
  margin: 0.3rem !important;
}
.navbar .navbar-toggler {
  color: transparent !important;
  border-color: #fff !important;
}
.navbar .navbar-toggler:hover {
  box-shadow: 0px 2px 10px #f7f7f7;
}
.img-logo img {
  width: 40px;
  border: 0.05rem solid #53cac0;
  border-radius: 4rem;
}
.accessibility,
.hidden-id {
  position: absolute;
  left: -15000px; /* afficher en dehors de l'ecrant */
}
.navbar .navbar-nav .nav-link {
  font-size: 1.2rem;
  color: #fff;
  padding: 0.3rem 1rem;
  margin: 0.05rem 0.2rem;
  border: 0.05rem solid #3188b8;
  border-radius: 0.4rem;
}
.navbar .navbar-nav .nav-link:hover {
  cursor: pointer;
  box-shadow: 0px 0.5px 2px #f7f7f7;
  color: #141414;
  border: 0.05rem solid #f7f7f7;
  border-radius: 0.4rem;
}

/* ==================================================== */
/* ====================== Body ======================== */
/* ==================================================== */
.body-banner {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  border: #3188b8 0rem solid;
}
.carousel-item img {
  width: 100% !important;
  border-radius: 0.4rem;
}

.footer-child label {
  margin-bottom: 1rem;
}

label span,
.text-red {
  color: red;
}

.table-striped thead * {
  background-color: #d5d7da !important;
}
.table-striped tbody tr:hover {
  background-color: #d5d7da !important;
}

#show-details p {
  margin: 0.3rem 1rem !important;
}
.bold {
  font-weight: bold;
}

/* ==================================================== */
/* ====================== GRID ======================== */
/* ==================================================== */
.container-child {
  background-color: #f7f7f7;
  border: 0.05rem solid gray;
  border-radius: 0.4rem;
  margin: 1rem;
}

.body-text {
  display: grid;
  grid-template-rows: 0.7fr 0.3fr;
  grid-auto-rows: 2rem;
  grid-gap: 1.2rem;
  border: none;
}
.body-text-child {
  border: 0.07rem solid gray;
  border-radius: 0.4rem;
  padding: 1rem;
}
.text {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-auto-rows: 2rem;
  grid-gap: 1rem;
  padding: 0;
  border: none;
}
.text-child {
  border: 0.07rem solid gray;
  border-radius: 0.4rem;
  padding: 1rem;
}

.body-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 2rem;
  grid-gap: 1rem;
  border: none;
}
.body-image-child {
  border: 0.07rem solid gray;
  border-radius: 0.4rem;
  padding: 0;
}
.body-image-child img {
  border-radius: 0.4rem;
  width: 100%;
}

.footer {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  grid-auto-rows: 2rem;
  grid-gap: 0.5rem;
  border: none;
}
.footer-child {
  border: 0.07rem solid gray;
  border-radius: 0.4rem;
  padding: 1rem;
}

/* ==================================================== */
/* =================== RESPONSIVE ===================== */
/* ==================================================== */
@media screen and (min-width: 768px) {
  .body-text {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.2fr 1fr;
    grid-auto-rows: 2rem;
    grid-gap: 1.2rem;
    border: none;
  }
  .text {
    display: grid;
    grid-template-rows: repeat(2, 0.5fr);
    grid-auto-rows: 2rem;
    grid-gap: 1rem;
    padding: 0;
    border: none;
  }
  .footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.2fr 1fr;
    grid-auto-rows: 0rem;
    grid-gap: 0rem;
  }
  .footer-child:nth-child(1) {
    border: 0.07rem solid gray;
    border-radius: 0.4rem 0 0 0.4rem;
  }
  .footer-child:nth-child(2) {
    border-radius: 0 0.4rem 0.4rem 0;
    border-left: none;
  }
  .form-group {
    display: grid !important;
    width: 70% !important;
    grid-template-rows: 1fr !important;
    grid-template-columns: 1fr 2fr !important;
  }
}
